/* basic styling common to all pages */

*{
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
}
body, input, button, textarea {
  font-family: 'Poppins', sans-serif;
}
a { 
  text-decoration: none;
}
input, button, textarea {
  outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
.logo {
  font-family: 'Monofett', cursive;
  float: left;
  font-size: 25px;
  color: #0A3A3E;
}
button {
  cursor: pointer;
}

/* for login and signup pages */

.container {
  width: 100%;
  height: 100vh;
  background-image: url('./images/backgroung-signup.svg');
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
}
.header {
  text-align: right;
  width: 100%;
  padding: 20px;
  position: absolute;
}
.header_con{
  width: 80%;
  margin: 0 auto;
}
.headerLogin {
  box-shadow: 0 3px 3px rgba(0,0,0,0.3);
}
.nav_link {
  margin: 0 10px;
  padding: 5px 8px;
  font-size: 13px;
  color: black;
  user-select: none;
}
.current_link {
  background: #009595;
  color: white;
  border-radius: 50px;
}
.wrapper {
  width: 80%;
  margin: 0px auto;
  height: calc(100% - 200px);
  display: flex;
}
.wrapper div {
  flex:1;
}
.signup_con, .login_con {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.aside {
  position: relative;
}
.aside ul {
  position: absolute;
  top: 40%;
}
.form {
  width: 70%;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.3), -3px -3px 3px rgba(0,0,0,0.3);
  border-radius: 20px;
}
.form_head {
  background: #009595;
  border-radius: 20px 20px 0 0;
  padding: 10px 0;
  color: white;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-weight: bolder;
}
.field {
  display: flex;
  flex-flow: column-reverse;
  text-align: left;
  width: 90%;
  margin: 20px auto;
}
.label, .input_field {
  transition: all 0.2s;
  touch-action: manipulation;
}
.input_field {
  font-size: 0.8em;
  border: 0;
  border-bottom: 1px solid #ccc;
  font-family: inherit;
  -webkit-appearance: none;
  border-radius: 0;
  padding: 0;
  cursor: text;
}
.input_field:focus {
  outline: 0;
  border-bottom: 1px solid #009595;
}
.label {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 0.4em;
  user-select: none;
  color: #757575;
}
.input_field:placeholder-shown + .label {
  cursor: text;
  max-width: 66.66%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transform-origin: left bottom;
  transform: translate(0, 1.4rem) scale(1.5);
}
.input_field::-webkit-input-placeholder {
  opacity: 0;
  transition: inherit;
}
.input_field:focus::-webkit-input-placeholder {
  opacity: 1;
}
.input_field:not(:placeholder-shown) + .label,
.input_field:focus + .label {
  transform: translate(0, 0) scale(1);
  cursor: pointer;
  color: #009595;
}
.btn_con{
  margin: 30px auto;
  width: 90%;
}
.btn_con button {
  width: 100%;
  padding: 8px 0;
  border: none;
  background: #009595;
  font-size: 10px;
  font-weight: bolder;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: white;
  border-radius: 40px;
} 
.already {
  font-size: 13px;
  margin-bottom: 20px;
}
.already a {
  text-decoration: underline;
}

/* login page */

.container_login {
  width: 100%;
  height: 100vh;
  background-image: url('./images/backgroung-login.svg');
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
}
.aside ul li {
  font-size: 13px;
  font-weight: bold;
  margin: 10px 0;
  user-select: none;
}

/* Profile */

.container_logged {
  position: relative;
  top: 90px;
}
.profile_con {
  width: 500px;
  margin: 0 auto;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.3), -3px -3px 3px rgba(0,0,0,0.3), 0px 0px 10px rgba(0,0,0,0.3);
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 30px;
}
.profile_links_con {
  text-align: center;
  background: #eee;
  margin-bottom: 20px;
  border-radius: 10px;
}
.profile_links {
  margin: 10px 20px;
  color: black;
}
.profile_con h2{
  margin-bottom: 10px;
}
.pro_info {
  border: 1px #ccc solid;
  padding: 5px;
  border-radius: 10px;
  font-size: 14px;
}
.info_lable {
  font-size: 12px;
  color: #757575;
  margin-top: 10px;
}
.no_value {
  font-size: 10px;
  color: #bbb;
}
.profile_input, .event_input {
  display: flex;
  flex-direction: column;
}
.profile_form {
  width: 500px;
  margin: 0 auto;
  padding: 20px ;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.3), -3px -3px 3px rgba(0,0,0,0.3);
  border-radius: 20px;
  margin-bottom: 20px;
}
.profile_input label, 
.event_input label, 
.aside_btn_input label {
  font-size: 13px;
  color: #757575;
  margin-top: 10px;
}

.profile_input input, 
.profile_input textarea, 
.event_input input, 
.aside_btn_input input, 
.event_input textarea {
  padding: 10px 5px;
  border: 1px #ddd solid;
  border-radius: 10px;
}
.profile_input textarea, .event_input textarea {
  width: 485px;
  height: 150px;
  resize: none;
}
.tag_con {
  margin: 10px 0 20px;
  padding: 10px;
  color: #757575;
  border: 1px #ccc solid;
  font-size: 13px;
  border-radius: 10px;
}
.tag {
  padding: 3px;
  border-radius: 5px;
  background: #009595;
  font-weight: bolder;
  color: white;
  margin: 0 5px;
  cursor: pointer;
}
.profile_btn_con, .post_event_btn {
  text-align: center;
  margin-top: 10px;
}
.profile_btn_con button, .profile_btn_con a, .post_event_btn button {
  padding: 5px 8px;
  border: none;
  background: #000;
  color: white;
  margin: 0 10px ;
  font-size: 15px;
  border-radius: 30px;
} 

/* edit profile, add education, add experience */

.alert-profile {
  text-align: center;
  margin: 10px;
}
.plc {
  width: 540px;
  margin: 0 auto;
}
.social_input_con {
  margin: 15px 0;
}
.social_input_toggle_btn button{
  width: 150px;
  border: none;
  background: #ccc;
  padding: 5px 0;
}
.social_input_toggle_btn span {
  font-size: 12px;
  color: #aaa;
}
.social_input_con small {
  color: #aaaaaa;
}
.edu_exp_con {
  margin: 20px 0;
}
.edu_exp_con p {
  color: rgba(0,0,0,0.9);
  font-size: 14px;
}
.edu_exp_con a {
  color: #009595;
  font-size: 13px;
}
.edu_exp_table {
  width: 100%;
  margin-bottom: 10px;
}
.edu_exp_table th {
  background: #ddd;
  padding: 5px 3px;
  color: #0A3A3E;
  font-size: 14px;
}
.edu_exp_table td {
  font-size: 13px;
  padding: 5px 3px;
  background: #eee;
}
.fa-arrow-left {
  font-size: 15px;
  position: relative;
  bottom: 6px;
  left: 8px;
  color: #aaa;
}
.arrow_link {
  position: relative;
  display: inline-block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  box-shadow: 0 0 3px rgba(0,0,0,0.3) ;
  margin-right: 10px;
}
.toDateCheckBox {
  position: relative;
  width: 100px;
  height: 40px;
  -webkit-appearance: none;
  outline: none;
  border-bottom: 10px;
  border: 1px #ccc solid;
  border-radius: 10px;
  cursor: pointer;
  top: 24px;
}
.toDateCheckBox:checked {
  border: 1px #009595 solid;
}
.toDateCheckBox::before{
  content: 'Current';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #757575;
  font-weight: bold;
}
.toDateCheckBox:checked::before {
  color: #009595;
}
.profile_date_con {
  display: flex;
  margin-top: 15px;
}
.date_input {
  flex: 1;
}
.date_input input {
  width: 90%;
  padding: 10px 5px;
  border-radius: 10px;
  border: 1px #ccc solid;
}
.date_input label {
  font-size: 13px;
  color: #757575;
}

/* calendar */

.calendar_con {
  width: 500px;
  margin: 0 auto;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.3), -3px -3px 3px rgba(0,0,0,0.3);
  padding: 10px;
  border-radius: 20px;
  position: relative;
}
.week_container {
  display: grid;
  grid-template-columns: repeat(7, auto);
  justify-content: space-around;
  background: #ddd;
  margin: 10px 0;
  padding: 5px 0;
  border-radius: 15px;
  font-size: 14px;
  user-select: none;
}
.dates_container {
  display: grid;
  grid-template-columns: repeat(7, auto);
  justify-content: space-around;
}
.pastDate {
  opacity: 0.5;
}
.date,.pastDate {
  background: #eee;
  margin: 3px 0;
  display: flex;
  width: 40px;
  height: 40px;
  text-align: center;
  justify-content: center;
  align-items: center;
  user-select: none;
}
.date,.today {
  cursor: pointer;
}
.today {
  border-radius: 50%;
  color: white;
  background: #1e686f;
}
.date_selector {
  text-align: center;
  font-size: 15px;
  font-weight: bolder;
  margin: 20px 0;
}
.fa-caret-right, .fa-caret-left, .fa-caret-down {
  font-size: 18px;
  position: relative;
  top: 2px;
}
.next, .prev, .mon_down {
  margin: 0 5px;
  border: none;
  background: white;
}
.selected_mon, .selected_year {
  display: inline-block;
  width: 30px;
}
.date_selector span {
  margin: 0 15px;
  position: relative;
}
.allowed_months {
  position: absolute;
  list-style: none;
  left: 40%;
  transform: translateX(-50%);
  box-shadow: 0 0 4px rgba(0,0,0,0.9);
  animation: reveal 0.5s ease;
  z-index: 1000;
}
@keyframes reveal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.allowed_months li {
  padding: 5px 10px ;
  cursor: pointer;
  font-weight: lighter;
}
.allowed_months li:nth-child(odd) {
  background: #eee;
}
.allowed_months li:nth-child(even) {
  background: #fff;
}
/* post events */
/* .event_input with .profile_input */
.other-links {
  text-align: center;
  margin: 15px 0;
}
.other-links a {
  margin: 0 10px;
  padding: 5px 8px;
  text-decoration: underline;
  color: #000;
}
.aside_btn_input input[type=text] {
  width: 80%;
} 
.aside_btn_input input[type=checkbox] {
  position: relative;
  width: 70px;
  height: 40px;
  -webkit-appearance: none;
  outline: none;
  border-bottom: 10px;
  border: 1px #ccc solid;
  border-radius: 10px;
  cursor: pointer; 
  left: 5px;
  top: 15px;
}
.aside_btn_input input[type=checkbox]::before {
  content: 'You';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #757575;
  font-weight: bold;
}
.aside_btn_input input[type=checkbox]:checked {
  border: 1px #009595 solid;
}
.aside_btn_input input[type=checkbox]:checked::before {
  color: #009595;
}
.aside_btn_input button {
  border-radius: 10px;
  border: 1px #ccc solid;
  padding: 8px 7px;
  margin: 0 3px;
  color: #757575;
  background: white;
  font-weight: bolder;
}
.aside_btn_input button:active {
  border: 1px #009595 solid;
  color: #009595;
}

/* search events */

.search_option {
  text-align: center;
}
.search_option input[type=checkbox] {
  position: relative;
  width: 150px;
  height: 40px;
  -webkit-appearance: none;
  outline: none;
  border-bottom: 10px;
  border: 1px #ccc solid;
  border-radius: 10px;
  cursor: pointer; 
  margin: 0 10px;
}
.search_option input[type=checkbox]:checked {
  border: 1px #009595 solid;
}
.search_event_form {
  width: 500px;
  margin: 0 auto;
}
.search_option input[type=checkbox]::before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #757575;
  font-weight: bold;
}
.search_option input[name='name-checkbox']::before {
  content: 'Search By Name';
  left: 20px;
}
.search_option input[name='date-checkbox']::before {
  content: 'Search By Date';
  left: 25px;
}
.search_option input[type=checkbox]:checked::before {
  color: #009595;
}
.input_type {
  text-align: left;
  width: 100%;
  padding: 10px;
}
.input_type thead tr th {
  font-size: 13px;
  color: #009595;
  padding-left: 10px;
}
.input_type tbody tr td {
  width: 100%;
}
.input_type tbody tr td input {
  width: 90%;
  padding: 5px 10px;
  border-radius: 20px;
  border: 1px #ccc solid;
  transition: 0.3s ease border;
}
.input_type tbody tr td input:focus {
  border: 1px #009595 solid;
}
.input_type tbody tr td button {
  padding: 5px 15px;
  border: none;
  border-radius: 20px;
  letter-spacing: 1.5px;
  color: white;
  background: #009595;
  font-weight: bolder;
}
.events_con {
  width: 600px;
  margin: 20px auto;
}
.event {
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  margin: 5px 0;
  user-select: none;
}
.event h4 {
  font-size: 30px;
}
.posted-on-event {
  font-size: 12px;
  color: #757575;
}
.event-tag-con {
  margin: 6px 0;
}
.event-tag-con span {
  font-size: 12px;
  color: #fff;
  font-weight: bolder;
  background: #5a5a5ae6;
  padding: 5px 3px;
  margin: 0 3px;
}
.mail-event, .des-event{
  font-size: 14px;
  color: #757575;
}
.no-event {
  text-align: center;
  font-weight: bolder;
}
.event button {
  margin: 5px 0;
  padding: 5px 10px;
  border: 1.5px #009595 solid;
  color: #009595;
  font-weight: bolder;
  background: white;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
.event button:hover {
  background: #009595;
  color: white;
}
.your_posts_con {
  width: 500px;
  margin: 10px auto;
}
.your-post {
  padding: 20px;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  margin: 5px 0;
  border-radius: 10px;
}
.your-post a, .your-post button {
  margin-right: 15px;
  padding: 5px 8px;
  background: #247f54;  
  color: white;
  font-size: 14px;
}
.your-post button {
  background: #b52929;
  border: none;
}